<!-- ###APPLICATION### -->
	<!-- ###ERRORS### -->
		<h2>###LL_ERRORS_HEADLINE###</h2>
		<ul>
		<!-- ###ERROR_ITEM### -->
			<li>###MESSAGE###</li>
		<!-- ###ERROR_ITEM### -->
		</ul>
	<!-- ###ERRORS### -->
<form action="###FORM_ACTION###" method="post">
	<fieldset>
		<label for="">###LL_FORENAME###</label>
		<input type="text" name="tx_nhttnewsevents_pi1[forename]" value="###FIELD_FORENAME###" />

		<label for="">###LL_SURNAME###</label>
		<input type="text" name="tx_nhttnewsevents_pi1[surname]" value="###FIELD_SURNAME###" />

		<label for="">###LL_INSTITUTION###</label>
		<input type="text" name="tx_nhttnewsevents_pi1[institution]" value="###FIELD_INSTITUTION###" />

		<label for="">###LL_EMAIL###</label>
		<input type="text" name="tx_nhttnewsevents_pi1[email]" value="###FIELD_EMAIL###" />

		<label for="">###LL_ATTENDANCE###</label>
		<input type="text" name="tx_nhttnewsevents_pi1[attendance]" value="###FIELD_ATTENDANCE###" />

		<label for="">###LL_COMMENT###</label>
		<textarea name="tx_nhttnewsevents_pi1[comment]">###FIELD_COMMENT###</textarea>

		<input type="submit" value="###LL_SUBMIT###" />
	</fieldset>
</form>
<!-- ###APPLICATION### -->

<!-- ###THANK_YOU### -->
<h2>###LL_THANK_YOU_HEADLINE###</h2>
<p>###LL_THANK_YOU_BODY###</p>
<!-- ###THANK_YOU### -->

<!-- ###ALREADY_APPLIED### -->
<h2>###LL_ALREADY_APPLIED_HEADLINE###</h2>
<p>###LL_ALREADY_APPLIED_BODY###</p>
<!-- ###ALREADY_APPLIED### -->

<!-- ###APPLICATION_PERIOD_EXPIRED### -->
<h2>###LL_APPLICATION_PERIOD_EXPIRED_HEADLINE###</h2>
<p>###LL_APPLICATION_PERIOD_EXPIRED_BODY###</p>
<!-- ###APPLICATION_PERIOD_EXPIRED### -->

<!-- ###APPLICATION_LOCKED### -->
<h2>###LL_APPLICATION_LOCKED_HEADLINE###</h2>
<p>###LL_APPLICATION_LOCKED_BODY###</p>
<!-- ###APPLICATION_LOCKED### -->

<!-- ###WARNING_EMAIL### -->
###LL_EVENT###: ###RECORD_TITLE###
###LL_LIMIT_REACHED###
<!-- ###WARNING_EMAIL### -->

<!-- ###COMMENT_EMAIL### -->
###LL_FORENAME###: ###FIELD_FORENAME###
###LL_SURNAME###: ###FIELD_SURNAME###
###LL_INSTITUTION###: ###FIELD_INSTITUTION###
###LL_EMAIL###: ###FIELD_EMAIL###
###LL_ATTENDANCE###: ###FIELD_ATTENDANCE###
###LL_COMMENT###: ###FIELD_COMMENT###
<!-- ###COMMENT_EMAIL### -->